<launch>
    <include file="$(find astra_launch)/launch/astra.launch">        
    </include>

    <node pkg="aruco_ros" type="marker_publisher" name="astra_aruco_marker_publisher_2">
        <remap from="/camera_info" to="/camera_astra_2/rgb/camera_info" />
        <remap from="/image" to="/camera_astra_2/rgb/image_raw" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.1"/>
        <param name="reference_frame"    value=""/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value=""/>
    </node>

</launch>
